/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.page-content {
    font-size: 16px;
    color: #515151;
    text-align: justify;
    // Remove Roboto, it's not nice for regular text
    font-family: "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif !important;
}

.home p, .home li, .post-content p, .post-content li {
    font-size: 16px;
    color: #515151;
    text-align: justify;
}

p code {
    font-size: 16px;
}

.post figure {
    margin: 0em;
}

.page-content p {
    text-align: justify;
    font-size: 16px;
    color: #515151;
}

.flash {
    margin-bottom: 20px;
}

.home h3 a {
    display: block;
    font-size: 1.5rem;
}

li {
    h3, h4 {
    margin-top: 1.5rem !important;
    }
}
