/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.post-content p, .post-content li {
    font-size: 16px;
    color: #515151;
    text-align: justify;
 }

p code {
    font-size: 16px;
}

.post figure {
    margin: 0em;
}

.page-content p {
    text-align: justify;
}
